<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.emintolgahanpolat.dengage_flutter">
   <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <application >

        <!-- Fcm Messaging Service for handling push messages comes from firebase -->
        <service
            android:name="com.dengage.sdk.push.FcmMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Hms Messaging Service for handling push messages comes from huawei messaging service -->
        <service
            android:name="com.dengage.sdk.push.HmsMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.emintolgahanpolat.dengage_flutter.PushNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.dengage.push.intent.RECEIVE" />
                <action android:name="com.dengage.push.intent.OPEN" />
                <action android:name="com.dengage.push.intent.DELETE" />
                <action android:name="com.dengage.push.intent.ACTION_CLICK" />
                <action android:name="com.dengage.push.intent.ITEM_CLICK" />
                <action android:name="com.dengage.push.intent.CAROUSEL_ITEM_CLICK" />
            </intent-filter>
        </receiver>


</application>
</manifest>
